<footer class="site-footer index-footer">
  <div class="grid footer-grid">
    <div class="row">
      <div class="span3 socialmedia footer-links">
        <a href="https://twitter.com/intent/tweet?text=Civic%20Graph&amp;url=http://civicgraph.io" target="_blank">
          <i id="twitter" class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://civicgraph.io" target="_blank">
          <i id="facebook" class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=civicgraph.io&amp;title=Civic%20Graph&amp;summary=&amp;source=" target="_blank">
          <i id="linkedin" class="fa fa-linkedin-square fa-2x"></i>
        </a>
        <a href="https://github.com/microsoftny/civic-graph" target="_blank">
          <i id="github" class="fa fa-github-square fa-2x"></i>
        </a>
      </div>
      <div style="font-size:10px;" class="span6 creative footer-links">
        <div style="display:inline;" class="span1">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0; margin-right:10px;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
          </a>
        </div>
        <div style="display:inline; margin-left: 10px;" class="span5">
          This
          <span xmlns:dct="http://purl.org/dc/terms/"
              href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dct:type">
            work
          </span>
          by
          <a xmlns:cc="http://creativecommons.org/ns#" href="http://civicgraph.io/"
              property="cc:attributionName" rel="cc:attributionURL">
            Microsoft&apos;s Technology and Civic Innovation
          </a>
          is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution-ShareAlike 4.0 International License
          </a>.
          <br />
          Based on a work at
          <a xmlns:dct="http://purl.org/dc/terms/"
              href="https://github.com/microsoftny/civic-graph" rel="dct:source">
            https://github.com/microsoftny/civic-graph
          </a>
        </div>
      </div>
      <a href="/developer" target="_blank" style="float:right;" class="span3 footer-links">
        <h4 id="developer">Help Build Civic Graph</h4>
      </a>
    </div>
  </div>
</footer>
