<nav id="main-nav" class="main-nav">
  <ul id="left-nav" class="group-items types sidenav">
    <li><a href="/developer" class="typestext">Developer</a></li>
    <li><a href="/api" class="typestext">API</a></li>
    <li><a href="/community" class="typestext">Our Community</a></li>
    <li><a href="/" class="typestext">Civic Graph</a></li>
  </ul>
</nav>
