<div class="input-control text" data-role="input-control" id="data-{{zero @index}}">
  <input class="data-entity" list="data-received-list" name="data"
    placeholder="Data Resource" type="text" value="{{entity}}" />
  <datalist id="data-received-list"></datalist>
</div>
