<div id="funding-{{zero @index}}">
  <div class="fund-input input-control text" data-role="input-control">
    <input class="funder" list="funding-received-list" name="fund"
      placeholder="Funder" style="display:inline-block; width:50%;"
      type="text" value="{{entity}}" />
    <datalist id="funding-received-list"></datalist>
    <input class="fund_amt" name="fund_amt"
      placeholder="Amount" style="display:inline-block; width: 27%;"
      type="text" value="{{amount}}" />
    <input class="fund_year" name="fund_year"
      placeholder="Year" style="display:inline-block; width: 20%;"
      type="text" value="{{year}}" />
  </div>
</div>
