<div id="fundinggiven-{{zero @index}}">
  <div class="fundgiven-input input-control text" data-role="input-control">
    <input class="fundee" list="funding-given-list" name="fundgiven"
      placeholder="Fundee" style="display:inline-block; width:50%;"
      type="text" value="{{entity}}" />
    <datalist id="funding-given-list"></datalist>
    <input class="fundgiven_amt" name="fundgiven_amt"
      placeholder="Amount" style="display:inline-block; width: 27%;"
      type="text" value="{{amount}}" />
    <input class="fundgiven_year" name="fundgiven_year"
      placeholder="Year" style="display:inline-block; width: 20%;"
      type="text" value="{{year}}" />
  </div>
</div>
