<div id="investmentmade-{{zero @index}}">
  <div class="investmade-input input-control text" data-role="input-control">
    <input class="investee" list="investment-made-list" name="investmade"
      placeholder="Investee" style="display:inline-block; width:50%;"
      type="text" value="{{entity}}" />
    <datalist id="investment-made-list"></datalist>
    <input class="investmade_amt" name="investmade_amt"
      placeholder="Amount" style="display:inline-block; width: 27%;"
      type="text" value="{{amount}}" />
    <input class="investmade_year" name="investmade_year"
      placeholder="Year" style="display:inline-block; width: 20%;"
      type="text" value="{{year}}" />
  </div>
</div>
