{{> sidenav}}

<div class="grid mainbody">
  <div class="row about-text">
    <header>
      <h2 class="span8 offset2">Our Community</h2>
    </header>

    <p class="span8 offset2">
      Whether you are a developer or not, you can be part of our fast growing community!
    </p>

    <ul style="list-style-type: disc;" class="span8 offset2">
      <li>
        Contribute your knowledge by adding information to the <a href="/">Civic Graph</a> database.
      </li>
      <li>
        Help us to improve Civic Graph - visit our
        <a href="https://github.com/microsoftny/civic-graph">GitHub</a> page.
      </li>
    </ul>
  </div>
</div>

{{> footer}}
