{{> sidenav}}

<div class="grid mainbody">
  <div class="row about-text">
    <header>
      <h2 class="span8 offset2">Welcome to Civic Graph developers portal!</h2>
    </header>

    <p class="span8 offset2">
      Civic Graph is an open source data and visualization project initiated by
      Microsoft's Technology & Civic Innovation team.
    </p>

    <p class="span8 offset2">
      The purpose of Civic Graph is to provide insights into the burgeoning
      civic tech community -- who it consists of, what their respective focus
      areas are, and how they connect to one another.
    </p>

    <p class="span8 offset2">
      Civic Graph takes a broad definition of civic tech and includes
      for-profit, non-profit, government agencies, and individuals.
    </p>

    <p class="span8 offset2">
      We see Civic Graph as an educational tool, as a platform to crowdsource
      up-to-date information regarding the civic tech community, and as a
      basis to use the data to build out new visualizations, tools, and apps.
    </p>

    <p class="span8 offset2">We invite you to contribute to Civic Graph by:</p>

    <ol style="padding-left:50px;" class="span8 offset2">
      <li>
        <a href="/">Adding</a> or <a href="/">editing</a> our
        current information.
      </li>
      <li>
        Use Civic Graph's data in other projects via our <a href="#API">API</a>.
      </li>
      <li>
        Help us to improve Civic Graph by contributing to our
        <a href="https://github.com/microsoftny/civic-graph">source code</a>.
      </li>
    </ol>

    <div style="margin-top:25px;" class="span8 offset2">
      <p>Sincerely,</p>
    </div>

    <div class="span8 offset2">
      <p>The Civic Graph team.</p>
    </div>
  </div>

  <div class="row about-text">
    <h2 id="API" class="span8 offset2">API</h2>

    <div class="span8 offset2">
      Use Civic Graph database to build your own project or to integrate with
      an existing project.
    </div>
    <h3 style="margin-top:10px;" class="span8 offset2">Python 3.0</h3>

    <code class="span8 offset2">
      <pre>

import json
from urllib.request import urlopen url = "https://civicinsight.azurewebsites.net/athena"
response = urlopen(url)
contents = response.read()
text = contents.decode('utf8')
data = json.loads(text)
print(json.dumps(data, indent=4))
      </pre>
    </code>

    <h3 style="margin-top:10px;" class="span8 offset2">Python 2.7.8</h3>

    <code class="span8 offset2" style="margin-bottom: 100px">
      <pre>

import json import urllib url = "https://civicinsight.azurewebsites.net/athena"
response = urllib.urlopen(url)
contents = response.read()
text = contents.decode('utf8')
data = json.loads(text)
print(json.dumps(data, indent=4))
      </pre>
    </code>
  </div>
</div>

{{> footer}}
